<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {#让页面根据设备的宽度来自动缩放页面#}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.name }}'s Watchlist</title>
    <!--favicons-->
    <link rel="icon" href="{{ url_for('static', filename='images/totoro.png') }}">
    <!--css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css">
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}></div>
    {% endfor %}
    <h2>
        <a href="https://www.imdb.com/chart/top" target="_blank">
            <img alt="panda1" class="avatar" src="{{ url_for('static', filename='images/panda1.png') }}"></a>
        {{ user.name }}'s Watchlist
    </h2>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('settings') }}">Settings</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}

    {% endblock %}
    <footer>
        <small>&copy; 2021 <a href="http://helloflask.com/tutorial">HelloFlask</a></small>
    </footer>

    <script src="https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget@latest/autoload.js"></script>
</body>
</html>